<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Crow</title>
    <link rel="stylesheet" href="{{ asset('assets/css/material-dashboard.min.css?v=2.1.0') }}">


    {# <link rel="stylesheet"
          href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons') }}">
    <link rel="stylesheet"
          href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css') }}">

#}

    {# Mi fichero de estilos #}
    <link rel="stylesheet" href="{{ asset('css/myestilos.css') }}">
    {% block css %}
    {% endblock %}


</head>

<body id="main_body" >


    {% block body %}
    {% endblock %}



    <script src="{{ asset('assets/js/core/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap-material-design.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/perfect-scrollbar.jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/material-dashboard.js') }}" type="text/javascript"></script>
    <script>
        /*
            Para los colores de las notificaciones desde el controlador es
                *** 'info', 'danger', 'success', 'warning', 'primary'; ***
                    Por lo que es directamente a la clase de bootstrap y no personalizado
            
        */
        $(document).ready(function () {
            {% for tipo, mensajes in app.session.flashbag.all() %}
            {% for mensaje in mensajes %}
            $.notify({
                message: '{{ mensaje }}'
            }, {
                    type: '{{ tipo }}',
                    timer: 3000,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });

            {% endfor %}
            {% endfor %}

            var url = window.location;
            var element = $('li a').filter(function () {
                return this.href == url || url.href.indexOf(this.href) == 0;
            }).addClass('active').parent();
            if (element.is('li')) {
                element.parent().parent().addClass('active');
                element.parent().addClass('in');
                element.addClass('active');
                element.children().removeClass('active');
            }
        });
    </script>
    <script>
        $('.main-panel > .content').css('background-image', 'url("{{ asset('images / interface / project_crow_login.jpg') }}")');
        $('.main-panel > .content').css('background-size', 'cover');
        $('.main-panel > .content').css('background-repeat', 'no-repeat');
        $('.main-panel > .content').css('min-height', 'calc(200vh - 123px');



   // $('.main-panel > .content').css('-webkit-filter', 'grayscale(60%)');
   //  $('.main-panel > .content').css('filter', 'grayscale(60%)');
     //$('.main-panel > .content').css('-webkit-filter', 'brightness(50%)');
     //$('.main-panel > .content').css('filter', 'brightness(50%)');
   //  $('.main-panel > .content').css('-webkit-filter', 'blur(4px)');
   //  $('.main-panel > .content').css('filter', 'blur(4px)');
    </script>

    {% block js %}

    {% endblock %}
</body>

</html>