{% extends "base.html.twig" %}

{% block title %}Player Army
{% endblock %}

{% block body %}






<div class="row lineaestrecha">
    <div id="col1" class="col-sm-4">
        <div class="row">

            {# -- Castle -- #}
            <div class="card">
                <div class="card-header-primary">
                    <h5>Castle</h5>
                </div>
                <div class="card-body">
                    <table class="table-sm">
                        <tr>
                            <td>
                                <p>Level:
                                    <span id="level-castle"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Defense:
                                    <span id="defense-castle"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Capacity:
                                    <span id="capacity-castle"></span>
                                </p>
                            </td>
                        </tr>


                    </table>

                    <p><span class="subrayado">Troops</span></p>
                    <table id="castle_troops" class="table-sm">

                        {#--- Contiene las tropas del castillo ---#}

                    </table>


                </div> {#card body#}
            </div> {#Card 1#}

            {# -- Barraca -- #}

            <div class="card">
                <div class="card-header-primary">
                    <h5>Barrack</h5>
                </div>
                <div class="card-body">
                    <p><span class="subrayado">Troops</span></p>
                    <table id="barrack_troops" class="table-sm">

                        {#--- Contiene las tropas de la barraca ---#}

                    </table>
                </div>
            </div>

        </div>

        {#--- Contiene la lista de edificios ---#}
        <div class="row" id="lista_edificios">



        </div>

    </div> {#Columna 1#}


    {#Columna 2#}
    <div id="col2" class="col-sm-8">
        <div class="row">


            {#Troops Movement#}

            <div class="card">
                <div class="card-header-primary">
                    <h5>Troops Movement</h5>
                </div>


                <div class="card-body">
                    <h5 class="card-title">Plans</h5>
                    {#Planeando movimientos#}
                    <div id="form_planning_troops">

                    </div>


                    <h5 class="card-title">Execution</h5>
                    {#Lista de movimientos planeados#}
                    <div>
                        <table id="execution_troops_movement">

                        </table>

                    </div>

                    {#
                        <tr>
                                <td>
                                    <p>Archers: 10 From: Castle to: Barrack
                                    </p>
                                </td>
                                <td>

                                </td>
                            </tr>
                        #}

                    {#Enviar al servidor los movimientos#}
                    {#poner notificacion y logs sobre los movimientos#}
                    <button type="submit" class="btn btn-primary" id="boton_go">Go</button>

                </div>
            </div>


        </div> {# Linea #}


        <div class="row">

            <div class="card">
                <div class="card-header-primary">
                    <h5>Store</h5>
                </div>
                <div class="card-body">
                    this is the Store area
                </div>
            </div>


            <div class="card">
                <div class="card-header-primary">
                    <h5>Chat</h5>
                </div>
                <div class="card-body">
                    this is the chat area
                </div>
            </div>

            <div class="card">
                <div class="card-header-primary">
                    <h5>Logs</h5>
                </div>
                <div class="card-body">
                    this is the log area
                </div>
            </div>


        </div>



    </div> {#Fin Columna 2#}

</div> {#Linea 1#}


{% endblock %}

{% block js %}

{# -- Funciones auxiliares -- #}
<script src="{{asset('assets/js/utiles/funcionesglobales.js')}}"></script>
<script src="{{asset('assets/js/utiles/playerarmy.js')}}"></script>

<script>
    // -------------------------------------------------------------------------------
    // Declarando variables globales que contendran todos los datos recibidos
    // -------------------------------------------------------------------------------
    let recursos = null;
    let lista_edificios = null;
    let castillo = null;
    let troops = null;
    let troopLocation = null;
    let buildings = null;


    let troops_movements = [];

    let imagen_add = "{{ asset('images/iconos/add.png') }}";
    let imagen_del = "{{ asset('images/iconos/delete.png') }}";



    // ------------------------------------------------------------------------------
    // Obtener datos iniciales (se ejecuta al cargar la pagina)
    // ------------------------------------------------------------------------------
    //TODO: Listar edificios propios y los del kingdom
   /* peticion_all = {}
    peticion_all.listar_kingdom_resources = 1;
    var datos_enviar = {
        peticion: JSON.stringify(peticion_all)
    }*/

    $.getJSON("{{path('list_user_resources')}}",  function (data) { // obteniendo los datos recibidos de la peticion
        datos = data.datos;
        buildings = datos.buildings;
        castillo = datos.castle;
        troopLocation = datos.troops_location;
        troops = datos.troops;


        //Datos del Castillo
        setCastilloData(castillo);

        //Crear Lista de edificios en html en castle y barrack
        dibujarEdificiosenHTML(buildings);

        //Preparar Arreglo de Tropas copiarlo en edificios (hacerlo en server?)
        setTroopOnBuildings(buildings, troopLocation)

        //inicializando tropas en todos los edificios que no sean barrack y castle
        dibujarTropasenHTML(buildings);

        //Crear formulario de mover tropas

        crearFormularioMoverTropas(troops, buildings, imagen_add);

        //Funcionalidad del boton
        //crear arreglo
        //mostrar lista
        crearFuncionalidadBotonFormularioPlanMovements(troops_movements);


        //Funcionalidad del boton GO
        let ruta_move_troops = "{{path('move_troops')}}";
        crearBotonGo(ruta_move_troops);


    });
</script>

{% endblock %}