{% extends "base.html.twig" %}

{% block title %}World Map
{% endblock %}


{% block body %}




<div class="lineaestrecha row">


    <div class="col">
      

        {#---- Mensages provenientes del servidor ----#}
      {% if app.request.hasPreviousSession %} 
            {%  for unmensaje in app.flashes('info')  %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ unmensaje }}

                    <div id="battle_result">
                        {{app.session.get('my_variable')}}
                    </div>
                </div>
            {% endfor %}
         {% endif %} 

    </div>



</div>

{# --- Opcion: World listar todos los edificios enemigos ---- #}

<div class="lineaestrecha row">
    <div class="card-columns" id="lista_edificios_enemigos">


    </div>

    <div class="card-columns" id="lista_edificios_alianza">


    </div>

    <div id="ventanas_atacar_ocultas">


    </div>
</div>








{% endblock %}


{% block js %}


{# -- Funciones auxiliares -- #}
<script src="{{asset('assets/js/utiles/funcionesglobales.js')}}"></script>
<script src="{{asset('assets/js/utiles/worldmap.js')}}"> </script>


<script>
    // -------------------------------------------------------------------------------
    // Declarando variables globales que contendran todos los datos recibidos
    // -------------------------------------------------------------------------------


    // ------------------------------------------------------------------------------
    // Obtener datos iniciales (se ejecuta al cargar la pagina)
    // ------------------------------------------------------------------------------


    let troops = null;
    let buildings = null;
    let buildings_enemigos = null;
    let squads = null;

    // Ejecutar por primera ves al cargar la pagina
    let ruta_edificios_enemigos = "{{ path('list_enemy_buildings') }}";


    let ruta_listar_resources = "{{ path('list_user_resources') }}";
    let ruta_create_squad = "{{ path('create_squad') }}";
    let ruta_delete_squad = "{{ path('delete_squad') }}";
    let ruta_attack = "{{ path('attack') }}";



    let imagen_add = "{{ asset('images/iconos/add.png') }}";
    let imagen_del = "{{ asset('images/iconos/delete.png') }}";
    let imagen_attack = "{{ asset('images/iconos/attack.png') }}";





    $.getJSON(ruta_listar_resources, function (data) { // obteniendo los datos recibidos de la peticion
        datos = data.datos;
        buildings = datos.buildings;
        troops = datos.troops;
        troopLocation = datos.troops_location;



        //pintarEdificiosEnemigos(ruta_edificios_enemigos,ruta_attack, imagen_attack,  imagen_add, imagen_del);
        //pintarEdificiosAlianza(ruta_edificios_alianza, imagen_mover, ruta_mover, imagen_add, imagen_del);


        let id_lista_edificios = 'lista_edificios_enemigos';
        let id_lista_ventana_ocultas = 'ventanas_atacar_ocultas';
        let imagen_accion = imagen_attack;


        pintarEdificios(ruta_edificios_enemigos, ruta_attack, id_lista_edificios,
            id_lista_ventana_ocultas, imagen_accion, imagen_add, imagen_del)





    });

</script>

{% endblock %}