{% extends "base.html.twig" %}

{% block title %}World Map
{% endblock %}


{% block body %}




<div class="lineaestrecha row">

    
    <div class="col">
        World Map, Kingdom filter
        
        {%  for unmensaje in app.flashes('info')  %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ unmensaje }}
        </div>
        {% endfor %}

    </div>









</div>

{# --- Opcion: World listar todos los edificios enemigos ---- #}

<div class="lineaestrecha row">
    <div class="card-columns" id="lista_edificios_enemigos"></div>
</div>





{# --- Opcion: Squads listar todos los squads y crear nuevos squads ---- #}


{#Crear nuevo squad#}
<div class="lineaestrecha row">

    <div class="col">
        <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary"
            data-target="#collapseExample" data-toggle="collapse" type="button">
            New Squad
        </button>
    </div>

</div>

<div class="lineaestrecha row">

    <div class="collapse col-sm-12" id="collapseExample">
        <h5 class="card-title">Select Troops</h5>

        {#  --- Seleccionar tropas ---#}
        {#<div class="card card-body" id="world_map_create_troops">#}
        <div id="world_map_create_troops">

        </div>

        <h5 class="card-title">Selected Troops</h5>

        {# --- Tropas seleccionadas #}
        <div>
            <table id="world_map_tropas_seleccionadas">

            </table>

        </div>

        {# -- boton crear Squad ---#}
        <button type="submit" class="btn btn-primary" id="boton_create_squad">Create</button>

    </div>



</div>

<div class="lineaestrecha row">

    <!--  <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary" data-target="#listasquads"
                data-toggle="collapse" type="button">
                Squads List
            </button>-->


    <!--<div class="collapse" id="listasquads">-->
    <div id="listasquads">
        <!--<h5 class="card-title">Squads</h5>-->

        <div id="lista_squads" class="card-columns">

        </div>
    </div>


</div>


{% endblock %}


{% block js %}


{# -- Funciones auxiliares -- #}
<script src="{{asset('assets/js/utiles/funcionesglobales.js')}}"></script>
<script src="{{asset('assets/js/utiles/worldmap.js')}}"> </script>


<script>
    // -------------------------------------------------------------------------------
    // Declarando variables globales que contendran todos los datos recibidos
    // -------------------------------------------------------------------------------


    // ------------------------------------------------------------------------------
    // Obtener datos iniciales (se ejecuta al cargar la pagina)
    // ------------------------------------------------------------------------------


    let troops = null;
    let buildings = null;
    let buildings_enemigos = null;
    let squads = null;

    // Ejecutar por primera ves al cargar la pagina
    let ruta_edificios_enemigos = "{{ path('list_enemy_buildings') }}";
    let ruta_listar_resources = "{{ path('list_user_resources') }}";
    let ruta_create_squad = "{{ path('create_squad') }}";
    let ruta_delete_squad = "{{ path('delete_squad') }}";
    let ruta_attack = "{{ path('attack') }}";

    let imagen_add = "{{ asset('images/iconos/add.png') }}";
    let imagen_del = "{{ asset('images/iconos/delete.png') }}";
    let imagen_attack = "{{ asset('images/iconos/attack.png') }}";





    $.getJSON(ruta_listar_resources, function (data) { // obteniendo los datos recibidos de la peticion
        datos = data.datos;
        buildings = datos.buildings;
        troops = datos.troops;
        troopLocation = datos.troops_location;

        squads = datos.squads;


        pintarEdificiosEnemigos(ruta_edificios_enemigos, imagen_attack, ruta_attack);

        console.log('reload');





        // Mostrar listado de Squads propios


        // Mostrar listado de edificios solo los enemigos

        // Formulario seleccionar tropas
        crearFormularioSelectTropas(troops, buildings, imagen_add);
        crearFuncionalidadBotonAddTroop();

        //Funcionalidad del boton GO

        botonCrearSquad(ruta_create_squad, squads);


        //Preparar Arreglo de Tropas copiarlo en edificios (hacerlo en server?)
        setTroopOnBuildings(squads, troopLocation)

        pintarSquads(squads, imagen_del);
        //console.log(troopLocation);



        //inicializando tropas en todos los edificios que no sean barrack y castle
        dibujarTropasenHTML(squads);



        BotonDelSquad(ruta_delete_squad);




    });

</script>

{% endblock %}